.businesscard {

  @include span(10 of 12);
  @include push(2 of 12);

  top: 28px;
  position: relative;


  // @include container($magic-grid);
  // background-color: red;


  .businesscard__nametag {
    h1 {
      @include font-size(20px);
      line-height: 1.6em;
      margin: 0;
    }
  }

  .businesscard__jobrole {
    @include font-size(13px);
    line-height: 18px;
    margin: 0;
    width: 150px;
  }
}
