html {
  background-color: $white;
  font-size: ($base-font-size / 16px) * 1em;
  line-height: $base-line-height / $base-font-size;
  // padding: $base-spacing-unit;
  // padding-bottom: 0;
  padding: 0 33px 0 0;
}

body {
 // width: 100%;
  @include container($magic-grid);
}

.siteContent {
  @include push(6 of 12);
  @include span(6 of 12);
}

// .home-template {
// }

.post-template {
  // @include container($magic-grid);
  .post {
    @include push(6 of 12);
    @include span(6 of 12);
    img,
    iframe {
      @include span(12 of 12);
    }
  }
}

main {
  @include span(12 of 12);
}

footer {
  @include span(12 of 12);
}
