html {
  background-color: $white;
  font-size: ($base-font-size / 16px) * 1em;
  line-height: $base-line-height / $base-font-size;
  // padding: $base-spacing-unit;
  // padding-bottom: 0;
  padding: 0 33px;
}

.home-template {
  @include container($magic-grid);
  width: 50%;
  position: absolute;
  right: 0;
}

.post-template {
  @include container($magic-grid);
  .post {
    img,
    iframe {
      @include span(12 of 12);
    }
  }
}

.sidebar {
  @include span(12 of 12);
}

main {
  @include span(12 of 12);
}

footer {
  @include span(12 of 12);
}
