html {
  background-color: $white;
  font-size: ($base-font-size / 16px) * 1em;
  line-height: $base-line-height / $base-font-size;
  // padding: $base-spacing-unit;
  // padding-bottom: 0;
  padding: 0 33px 0 0;
}

body {
 // width: 100%;
  @include container($magic-grid);
}

main {
  @include span(12 of 12);
}

.siteContent {
  @include push(6 of 12);
  @include span(6 of 12);
  padding-top: 30px;
  ul {
    padding-left: 0;
    li {
      padding: 10px 0;
      list-style: none;
      span {
        padding-left: 20px;
        @include font-size(12px);
        color: $color-body-accent;
      }
    }
  }
  a {
    font-family: $header-font-family;
  }
}

// .home-template {
// }

.post-template {
  // @include container($magic-grid);
  .post {
    @include push(6 of 12);
    @include span(6 of 12);
    img,
    iframe {
      @include span(12 of 12);
    }
  }
}
