@import "node_modules/normalize-scss-vanilla/normalize";




// Temp styles DELETE BELOW!
.portfolio {
  width: 50%;
  float: left;
}

.blog {
  width: 50%;
  float: right;
}

footer {
  clear: both;
}
