<section class="businesscard">
  <section class="businesscard__img">
    <img src="{{asset 'img/darren-woodiwiss.jpg'}}" alt="Darren Woodiwiss' Face">
  </section>
  <section class="businesscard__body">
    <a class="businesscard__nametag" href="{{@blog.url}}">
      <h1>{{@blog.title}}</h1>
    </a>
    <h2 class="businesscard__jobrole">{{@blog.description}}</h2>
  </section>
</section>
