  <footer class="footer">
    <section class="footer__social">
      <a target="_blank" href="http://twitter.com/dwoodiwiss">Twitter</a>
      <a target="_blank" href="https://github.com/dwoodiwiss">GitHub</a>
      <a target="_blank" href="http://uk.linkedin.com/pub/darren-woodiwiss/21/566/966/">LinkedIn</a>
      <a target="_blank" href="{{ asset "mr-darren-woodiwiss-cv.pdf"}}">Resume</a>
    </section>
    <section class="footer__credits">
      <span>All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</span>
    </section>
  </footer>
