<section class="intro">
  <section>
    <a class="intro__name-tag" href="{{@blog.url}}">
      <h1>{{@blog.title}}</h1>
    </a>
    <br>
    <h2 class="intro__job-role">{{@blog.description}}</h2>
  </section>
</section>
