<aside class="sidebar">

{{> businesscard}}
{{!--   <nav role="navigation">
    <ul>
      {{#foreach @blog.navigation}}
      <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}">
        <a href="{{url absolute="true"}}">{{label}}</a>
      </li>
      {{/foreach}}
    </ul>
  </nav>
 --}}
</aside>
