{{!< default}}

<section class="content">
  {{!-- {{> navigation }} --}}

  <section class="content__list content__list--blog">
    <ul>
      {{#foreach posts}}
        <li>
          <a href="{{url}}" title="{{title}}">{{title}}</a><span>{{date published_at timeago="true"}}</span>
        </li>
      {{/foreach}}
    </ul>
  </section>

</section>
