.intro {
  height: 100%;

  a {
    margin: 0 0 5px 0;
  }

  a, h2 {
    display: inline-block;
    width: auto;
    background-color: $black;
    color: $white;
  }

  h1, h2 {
    margin: 0;
    padding: 2px 5px;
  }

  a {
    &:hover {
      color: $primary-color;
    }

    &:before {
      content: "";
      display: none;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    h1 {
      @include font-size(24);
    }

    h2 {
      @include font-size(16);
    }
  }

  @media (max-width: 510px) {
    h1 {
      @include font-size(18);
    }

    h2 {
      @include font-size(12);
    }
  }

}

.intro__name-tag {

}

.intro__job-role {

}
