.intro {
  height: 100%;

  a, h2 {
    display: inline-block;
    width: auto;
    background-color: $black;
    color: $white;
  }

  h1, h2 {
    margin: 0;
    padding: 2px 5px;
  }

  a {
    &:hover {
      color: $primary-color;
    }

    &:before {
      content: "";
      display: none;
    }
  }

}

.intro__name-tag {

}

.intro__job-role {

}
