.cover {
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  position: fixed;

  height: 100%;
  // min-height: 700px;

  width: 45%;
  padding: 60px;
  background-color: lighten($primary-color, 25%);

  @media (max-width: $breakpoint-tablet) {
    position: fixed;
    top: 0;
    height: 110px;
    min-height: auto;
    width: 100%;
    overflow: hidden;
    padding: 15px;
    z-index: 10;
  }
}

.cover::after {
  content: "";
  // background: url('../images/darren-creek.jpg') no-repeat bottom left;
  background: url('../images/emma-long-sol-low.jpg') no-repeat right;
  // background: url('../images/hackday-edited.jpg') no-repeat top left;
  position: absolute;
  height: 100%;
  opacity: 0.88;
  // width: 100%;
  // width: 45%;
  display: flex;
  background-size: cover;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;

  @media (max-width: 1900px) {
    background: url('../images/emma-long-sol-low.jpg') no-repeat 70%;
    background-size: cover;
  }

  @media (max-width: $breakpoint-tablet) {
    background: none;
    background-color: $black;
    opacity: 1;
  }

}
