.post__header-image {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  img {
    min-width: 100%;
  }
}

.post__title {
  span {
    @include font-size(12);
    color: $black;
    margin-left: 10px;
    opacity: .5;

    @media (max-width: $breakpoint-tablet) {
      display: block;
      margin-left: 0;
    }
  }
}
