.footer {
  display: flex;
  flex-flow: column;

  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}

.footer__social {
  a:first-child {
    padding-left: 0;
  }

  a {
    padding: 5px;

    svg {
      @include transition();

      fill: $white;
      width: 32px;
      height: 32px;
      background-color: $black;
      padding: 1px;
      border-radius: 100px;
      margin-bottom: 5px;

      &:hover {
        background-color: $primary-color;
      }
    }

    &:before {
      content: "";
      display: none;
    }
  }
}

.footer__credits {
  span {
    @include font-size(12);

    display: inline-block;
    width: auto;
    background-color: $black;
    color: $white;
    padding: 2px 5px;
    margin: 0;
    line-height: 1;

    a {
      @include font-size(12);
      color: $white;

      &:hover {
        color: $primary-color;
      }

      &:before {
        content: "";
        display: none;
      }
    }
  }
}
