.cover {
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  position: fixed;
  height: 100%;
  width: 45%;
  background-color: $black;

  @media (max-width: $breakpoint-tablet) {
    position: fixed;
    top: 0;
    height: 110px;
    min-height: auto;
    width: 100%;
    overflow: hidden;
    padding: 15px;
    z-index: 10;
  }
}

.cover::after {
  content: "";
  position: absolute;
  height: 100%;
  opacity: 0.88;

  display: flex;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
