.cover-image {
  box-sizing: border-box;

  width: 120%;
  position: absolute;
  bottom: 0;
  right: 0;

  svg {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: -5px;
  }
}

#Oval-2 {
  transform-origin: center;
  animation-timing-function: linear;
  animation: phase 90s infinite;
}

@keyframes phase {
  0% {
    // fill: $black;
    // stroke: white;
    transform: translateY(0) translateX(0);
  }

  25% {
    // fill: white;
    // stroke: white;
    transform: translateY(-25px) translateX(-100px);
  }

  75% {
    transform: translateY(-50px) translateX(-150px);
  }

  100% {
    // fill: $black;
    // stroke: white;
    transform: translateY(0) translateX(0);
  }
}

.cover {
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  position: fixed;
  height: 100%;
  width: 45%;
  background-color: $black;

  @media (max-width: $breakpoint-tablet) {
    position: fixed;
    top: 0;
    height: 110px;
    min-height: auto;
    width: 100%;
    overflow: hidden;
    padding: 15px;
    z-index: 10;
  }
}

.cover::after {
  content: "";
  position: absolute;
  height: 100%;
  opacity: 0.88;

  display: flex;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
