a {
  @include font-weight('regular');

  transition: all .45s ease;

  // color: lighten($body-font-color, 30%);
  // color: $primary-color;
  color: $body-font-color;

  font-style: normal;
  text-decoration: none;
  // border-bottom: 3px solid lighten($body-font-color, 60%);
  border-bottom: 3px solid lighten($primary-color, 50%);

  &:hover {
    color: $primary-color;
    border-bottom: 3px solid lighten($primary-color, 30%);
  }
}
