main {
  display: flex;
  height: 100vh;
  width: 100%;
}

.content {
  // display: flex;
  width: 55%;
  padding: 60px;
  position: absolute;
  left: 45%;
  overflow: hidden;

  .content__list {
    ul {
      display: flex;
      flex-flow: column;
      list-style: none;
      padding-left: 0;

      li {
        line-height: 36px;
        a {
          margin-right: 15px;
          height: 100%;
        }
        span {
          @include font-size(12);
          color: lighten($black, 40%);
        }
      }
    }
  }


}

.post__header-image {
  display: flex;
  justify-content: center;

  img {

  }
}

.post__title {
  span {
    @include font-size(12);
    color: darken($white, 35%);
    margin-left: 10px;
  }
}
