blockquote {
  p {
    @include font-size(22.4);
    @include font-weight('light');
    font-style: italic;
    line-height: $base-line-height;
    color: lighten($body-font-color, 50%);
    margin-top: 32px;
    margin-bottom: 38.4px;
  }

  @media (max-width: $breakpoint-tablet) {
    margin: 0;
  }
}
