html {
  font-size: $base-font-size;
  background-color: $white;
  line-height: $base-line-height;
  color: $black;
  width: calc(100vw - 15px);

  // margin-right: calc(100vw - 100%);
  overflow-y: scroll;
  font-weight: 100;
}
