// Color Palette
$bright-blue: #40bde6;
$white: #ffffff;
// $off-black: #4a4a4a;

// $color-primary: $bright-blue;
// $color-body: $off-black;
// $color-body-accent: #9b9b9b;

// Exploration Colors
// $black: #222A33;
$black: #2c3742;
$peach: #F4A47B;
$primary-color: $peach!default;

// Buttons
// $primary-btn-color: $color-primary;
